/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  /* Contenedor principal */
  .container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Encabezado */
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    color: #333333;
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  
  /* Contenido */
  .content {
    color: #555555;
    text-align: center;
  }
  
  /* Botones */
  .button {
    display: inline-block;
    background-color: #FF6600;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .button:hover{
    background-color: #333333;
  };
  
  p{
    text-align: center;
  }
  
  /* Pie de página */
  .footer {
    text-align: center;
    margin-top: 20px;
    color: #999999;
    font-size: 14px;
  }
  
  /* Estilos para dispositivos móviles */
  @media only screen and (max-width: 600px) {
    .container {
      width: 100%;
      padding: 10px;
    }
    
    .header h1 {
      font-size: 20px;
    }
    
    .footer p {
      font-size: 12px;
    }
  }